.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.main {
  margin: auto;
  width: 30%;
  padding: 10px;
  margin-top: 10%;
}
button {
  width: 100%;
  border-radius: 3%;
  margin-top: 3%;
}
h2 {
  margin-left: 44%;
}
mat-icon:nth-child(1) {
  float: right;
  cursor: pointer;
}
